

h1{
    color: rgb(150, 40, 40);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{

}

.mijnAfbeelding{
width: 100px;
height: 100px;
} 

img{
   width: 100px ;
   height: 100px ;
}